<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downloadtype</key>
	<string>0</string>
	<key>kycode</key>
	<string>9d9319fbc631860bf5b773dcdf559b63</string>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.familyday.com.cn/app/wechat-shadow.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://pic.wanmeiyueyu.com/Data/APPINFOR/23/24/com.tencent.xin.ky/icon_1414425600.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://pic.wanmeiyueyu.com/Data/APPINFOR/23/24/com.tencent.xin.ky/icon_1414425600.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.xinSC</string>
				<key>bundle-version</key>
				<string>6.1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>微信 JW版-可以安装到手机上的第二个微信</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
